<div class="text-center  w-100" *ngIf="load">
    <div class="spinner-grow text-primary mx-3" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow mx-3 text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow mx-3 text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div *ngIf="!load">
    <div *ngIf="doctorslist.length==0">
        <div class="parent w-100">

            <div class=" px-5 d-flex flex-column align-items-center justify-content-between">
                <span class="notFound">ناسف لم نتمكن من العثور علي نتائج</span>
                <span class="notFound"> لا داعي للقلق .. بامكاننا المساعدة</span>
                <div class="d-flex align-items-center justify-content-between mt-2 ">
                    <a href="/search?type=b&city=0&reigon=0&name=&special=0" class="Dr btn">تصفح دكاترة فيزيتا</a>
                    <a href="/" class="home btn">الصفحة الرئيسية</a>
                </div>
            </div>

            <div class="">
                <img alt="404 not found" src="assets/images/error.png"
                    class="NewPageNotFoundstyle__NotFoundImg-sc-1b0y90p-3 kJuOyQ" />
            </div>

        </div>

    </div>

    <!-- ------------------------------------------------------------------ -->

    <div class="card" *ngIf="doctorslist.length!=0" style="direction: ltr;">
        <p-dataView [value]="doctorslist" [paginator]="true" [rows]="4" filterBy="name" layout="grid">
            <ng-template let-product pTemplate="gridItem">
                <div class="p-col-12 p-md-4 w-100">
                    <div>
                        <div class="card  mb-3  " id="card" style="direction: rtl;">
                            <!-- <a [routerLink]="doctor/data/:id"></a> -->
                            <div class="card-body">
                                <div class="row px-4">


                                    <div class="col-2  p-3 d-flex justify-center align-self-center  ">
                                        <h1 *ngIf=" product.image==' '"
                                            class=" text-danger d-felx align-self-center rounded-circle p-5 text-danger">
                                            {{product.drName[0]}}
                                        </h1>
                                        <!-- <img src=" ./assets/images/spec-skin.jpeg" -->
                                        <img *ngIf="product.image != null" src="{{product.image}}"
                                            style="max-width: 150px;min-width: 150px;min-height:150px ;max-height: 150px; ;border-radius: 300px; border: 1px solid ;"
                                            alt="">
                                    </div>
                                    <div class="col-6  p-3">
                                        <a [routerLink]="['/doctor/data/',product.drID]" style="text-decoration: none;">

                                            <h3 class="card-title my-2  ">دكتور <span
                                                    style="font-size: 1.4rem; font-weight: 700;">
                                                    {{product.drName}}</span>
                                            </h3>
                                            <h5 class="card-title m-0"></h5>
                                            <!-- <div>ratings</div>  -->
                                            <p class="card-text text-secondary"> <i
                                                    class="fa-solid fa-stethoscope me-2 mt-2"></i>
                                                <span class="mx-1 bg-primary p-1 rounded text-white"
                                                    style="font-size: .8rem;">تخصص</span>
                                                {{getSpecialById(product.specilalization)}}
                                            </p>
                                            <p class="card-text"><i
                                                    class="fa-solid fa-map-location-dot mx-2 mt-2"></i>{{product.clinic_address["city"]["name"]}}-شارع
                                                {{product.clinic_address["street"]}}
                                            </p>
                                            <p class="card-text"><i
                                                    class="fa-solid fa-money-bill-wave mx-2 mt-2"></i>الكشف: <span
                                                    style="font-size: 1.5rem; font-weight: bold;"
                                                    class="text-success mx-1">{{product.clinic_feese}}
                                                </span>ج.م
                                            </p>
                                            <p class="card-text"><i class="fa-solid fa-stopwatch mx-2 mt-2"></i><span
                                                    style="font-weight: bold;">{{product.wattingTime==null?"غير
                                                    محدد":product.wattingTime+" دقيقة "}}</span>
                                            </p>
                                        </a>

                                    </div>

                                    <!-- ssssssssssssssssssssssssssssssssssssssssssssssssssss -->
                                    <div class="card col-4 " style="direction: ltr;    border: none;max-width: 390px;">
                                        <app-time-table [products]="getappointement(product.drID)"></app-time-table>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>

</div>