<p-carousel [value]="products" [numVisible]="2" [numScroll]="2" [responsiveOptions]="responsiveOptions">
    <ng-template let-product pTemplate="item">
        <div class="border-1  border-round m-1 text-center h-100">
            <div class="card text-center h-100">
                <div class="card-header ">
                    <!-- {{(getstring(product.start_date))}} -->
                    {{product[1]}}
                </div>
                <div class="card-body">
                    <!-- disabled 
                            [ngClass]="{'disabled' : x.appoint_id!=null}"
                    -->

                    <div class="row p-2" *ngIf="product.length!=0">
                        <button *ngFor="let x of product[0] ; let i = index" class="btn btn-primary my-1 p-1"
                            [ngClass]="{'disabled' :(product[0].length!=0)&&( x.appoint_id==null)}"
                            (click)="click(x)">{{getdate(x)}}</button>
                    </div>
                    <div *ngIf="product[0].length==0">
                        غير متاح مواعيد
                    </div>
                </div>
                <div class="card-footer text-body-secondary">
                    احجز </div>
            </div>
        </div>
    </ng-template>
</p-carousel>