.card-header {
    background-color: #0070CD;
    color: white;
}

.card-footer {
    background-color: #EF0F0F;
    color: white !important;
}

.scroller {
    /* margin: 4px, 4px; */
    padding: 4px;
    /* background-color: green; */
    /* width: 500px; */
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}