<div class="alert" *ngIf="alertDiv">
    تم تعديل  كلمة المرور بنجاح <a [routerLink]="['/']" routerLinkActive="router-link-active" >الصفحة الرئيسية</a>
</div>
<div class="container">
    <div class="joinNow">    تغيير كلمة المرور</div>
    <div class="bg-white p-3  ">
        <form  [formGroup]="formChangePass" class="mt-4"> 
              
            <div class="d-flex p-1 m-1">
                <label for="patientPassword" class="control-label col-4"> كلمة المرور :</label>
                <div class="col-8">
                    <input type="password" id="patientPassword" value="" name="patientPassword" class="form-control" formControlName="patientPassword">
            
                    <ng-container *ngIf="getPass.touched || showError">
        
                        <div
                          *ngIf="getPass.hasError('required')" 
                          class=" text-danger fs-6 mb-2"
                        >
                         يرجى  ادخال كلمة المرور  القديمه
                        </div>
                      
                      </ng-container>
             
                </div>
            </div>

            <div class="d-flex p-1 m-1">
                <label for="patientNewPassword" class="control-label col-4">   كلمة المرور الجديدة  :  </label>
                <div class="col-8">
                    <input type="password" value="" name="patientNewPassword" id="patientNewPassword" class="form-control" formControlName="patientNewPassword">
                    <ng-container *ngIf="getNewPass.touched || showError">
        
                        <div
                          *ngIf="getNewPass.hasError('required')" 
                          class=" text-danger fs-6 mb-2"
                        >
                         يرجى  ادخال كلمة المرور الجديدة
                        </div>
                        <div
                          *ngIf="getNewPass.hasError('pattern')" 
                          class="mb-2 fs-6 text-danger"
                        >
                        كلمة المرور يجب ان تكون    8 أحرف على الأقل
                        <br>  تحتوي على حرف كبير واحد على الأقل
                        <br>   تحتوي على حرف صغير واحد على الأقل
                        <br> تحتوي على رقم واحد على الأقل
                        <br> تحتوي على حرف خاص واحد على الأقل (مثل @ ، # ، $ ، إلخ.)
                        </div>
                      </ng-container>
              
                </div>
            </div>
            
             
            <div class="form-group d-flex ">
                <div class="col-4"></div>
                <div class="col-8"> 
                    <button type="submit" class="btn btn-danger fs-4 rounded rounded-3  px-4 m-4 "  (click)="updatePass($event)">
                       
                        <span *ngIf="showSpinner" class="spinner-border text-white " role="status">
 
                        </span>
                                         <span *ngIf="!showSpinner" > حفظ </span>               
                    </button>
                <input type="reset" value=" إلغاء" class="btn btn-light fs-4 rounded rounded-3  px-4 m-4" />
           
                </div>
            </div>
        </form> 
     </div>
</div>

