<div class="container my-4">
        <div class="d-flex flex-wrap">
        <div class="col col-md-6">
            <div class="parent px-5">
                <div class="head-img">
                </div>
                <div class=" col-12 ">
                    <div class="d-flex  flex-column  p-4 mt-2">
                        <div class="text ">
                                <span class="icon"><i class="fa-regular fa-envelope"></i></span>
                                <span>أبلغنا دكتورة [[إيمان الشرقاوي]] بحجزك</span>
                        </div>
                        <div class="text ">
                                <span class="icon"><i class="fa-solid fa-money-bill-1-wave"></i></span>
                                <span> سعر الكشف: [200]جنيه  </span>
                        </div>
                        <hr>
                        <div class="text ">
                                <span class="icon"><i class="fa-solid fa-phone-flip"></i></span>
                                <span> رقم تليفون العيادة:  <i style=" color: rgb(0, 112, 205);">[[768768]]</i></span>
                        </div>
                        <div class="text ">
                                <span class="icon"><i class="fa-regular fa-calendar-check"></i></span>
                                <span> تفاصيل الحجز <i style=" color: rgb(0, 112, 205);">[[768768]]</i></span>
                        </div>
                        <hr>
                        <table  class="table table-hover ">
                            <tbody>
                                <tr>
                                    <td>  اسم المريض </td>
                                    <td>[[soha]]</td>
                                </tr>
                                <tr>
                                    <td> تاريخ  الحجز</td>
                                    <td>الدخول بميعاد محدد</td>
                                 </tr>
                                 <tr>
                                    <td> اسم الدكتور</td>
                                    <td>[[إيمان]] دكتورة</td>
                                 </tr>   
                                 <tr>
                                    <td> مدة الانتظار</td>
                                    <td>[[  30 دقيقة]]</td>
                                 </tr>
                                 <tr>
                                    <td>   عنوان العيادة</td>
                                    <td>[[ش المأجور ش طلبه عويضه - خلف رنين]]</td>
                                 </tr>       
                               
                            </tbody>
                        </table>
                        <button class="btn btn-primary d-block m-auto fs-4">مواعيدي </button>
            </div>
                  </div>
        </div>
        </div>

        <div class="col-md-6" px-5>
            <div class="px-5">
                Your Divvvvvvvvvvvvvvvv
            </div>
        </div>
        </div>
</div>