<footer class="footer m-0 p-5 ">
  <div class="container ">
    <div class="row  m-auto">
      <div class="col-md-3 text-end">
        <ul class="list-unstyled">
          <li><img src="../assets/images/logo.png" alt="Vezeeta logo" class="footer-logo "></li>
          <li><a href="#" id="ulogo1"> من نحن</a></li>
          <li><a href="#" id="ulogo2">فريق فيزيتا</a></li>
          <li><a href="#" id="ulogo3">وظائف</a></li>
          <li><a href="#" id="ulogo4">الصحافة</a></li>
        </ul>

      </div>
      <div class="col-md-2 text-end">
        <h2>ابحث عن طريق</h2>
        <ul class="list-unstyled">
          <li><a href="#" id="ulogo5">التخصص</a></li>
          <li><a href="#" id="ulogo6">المنطقة</a></li>
          <li><a href="#" id="ulogo7">التأمين</a></li>
          <li><a href="#" id="ulogo8">المستشفى</a></li>
          <li><a href="#" id="ulogo9">المركز</a></li>
        </ul>
      </div>
      <div class="col-md-2 text-end">
        <h2>هل أنت طبيب ؟</h2>
        <ul class="list-unstyled">
          <li><a href="#" id="ulogo10">انضم الى أطباء فيزيتا</a></li>
        </ul>
      </div>
      <div class="col-md-2 text-end">
        <h2>تحتاج للمساعدة ؟</h2>
        <ul class="list-unstyled">
          <li><a href="#" id="ulogo11">مكتبة طبية</a></li>
          <li><a href="#" id="ulogo12">اتصل بنا</a></li>
          <li><a href="#" id="ulogo13">شروط الاستخدام</a></li>
          <li><a href="#" id="ulogo14">اتفاقية الخصوصية</a></li>
          <li><a href="#" id="ulogo15"> اتفاقية الخصوصية للأطباء</a></li>
        </ul>
      </div>

      <div class="col-md-3 text-center">
        <ul class="list-unstyled">
          <li id="ll">
            <!-- <img src="assets/images/2.jpg" alt=""> -->
          </li>
          <li id="ll2">
            <!-- <img src="assets/images/3.jpg" alt=""> -->
          </li>
          <li>
            <a id="aa" href="https://twitter.com/VEZEETA_Egypt" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <a id="aa" href="https://www.instagram.com/vezeeta" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <a id="aa" href="https://www.facebook.com/vezeeta" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>