<div class="container my-5 py-5">
  <div class="bg-white  w-75 m-auto ">
    <div class="joinNow fs-4"> 
      <i class="fa-solid  fa-lock-open text-danger mx-2">    </i>
      تغيير كلمة المرور</div>
    <form action="" method="post" class="px-4 pt-3" (submit)="onPassChange($event)" [formGroup]="passwordForm">
      <!-- Password input -->
      <!-- <h1 class="m-3 text-center">
        <i class="fa-solid  fa-lock mx-2 text-success">
        </i>
        تغير كلمة المرور
      </h1> -->
      <div class="form-outline my-2  ">

        <div class="p-1 m-1 d-flex justify-content-between">
            <label class="form-label " for="pass"> كلمة المرور </label>
            <input required formControlName="oldPassword" name="password" type="password" id="pass"
              class=" mx-4 form-control w-75 " placeholder=" كلمة المرور القديمة" />
          </div>
          <ng-container *ngIf="passwordController.touched&&succFlag==false ||isValid">
            <div *ngIf="passwordController.hasError('required')"
              class="text-danger text-center fs-5">
              يرجى ادخال كلمة المرور
            </div>
          </ng-container>
        <div class="p-1 m-1 d-flex justify-content-between">
          <label class="form-label " for="pass1"> كلمة المرور الجديد </label>
            <input required formControlName="newPassword" name="password" type="password" id="pass1"
              class=" mx-4 form-control w-75 " placeholder="كلمة المرور الجديدة" />
            </div>
        <ng-container *ngIf="newpasswordController.touched&&succFlag==false ||isValid ">
          <div *ngIf="newpasswordController.hasError('required')"
            class="text-danger text-center fs-5">
            يرجى ادخال كلمة المرور
          </div>

          <div *ngIf="newpasswordController.hasError('minlength')"
            class="text-danger  text-center fs-5">
            كلمة المرور قصيرة جداً! يجب ان تكون اكثر من ٦ احرف
          </div>


        </ng-container>

        <div class="p-1 m-1 d-flex justify-content-between">
          <label class="form-label " for="pass2"> تأكيد كلمة المرور الجديد </label>
            <input required formControlName="CnewPassword" name="password" type="password" id="pass2"
              class="mx-4 form-control w-75 " placeholder="تأكيد كلمة المرور الجديد" />
         
        </div>
        <div *ngIf="passNotmatch==true ||isValid" class="text-danger text-center fs-5">
          كلمة المرور غير متطابقة
        </div>
        <ng-container *ngIf="CnewpasswordController.touched&&succFlag==false ">
          <div *ngIf="CnewpasswordController.hasError('required')"
            class="text-danger text-center fs-5">
            يرجى ادخال كلمة المرور
          </div>
        </ng-container>
        <div *ngIf="passwordFlag==false" class="ttext-danger text-centerfs-5">
          يوجد خطأ في كلمة المرور القديمة
        </div>
        <div class="d-flex justify-content-between w-50 m-auto pb-5 pt-3">
          <a class="btn btn-primary" [routerLinkActive]="'linkActive '" [routerLink]="['/doctor/profile']"
            [routerLinkActiveOptions]="{ exact: true }">رجوع الي الصفحة الشخصية </a>
            <button type="submit" class="btn btn-primary ">تغير كلمة المرور</button>
        </div>
      </div>
    </form>
  </div>
</div>