<div style="position: relative;height: 100%;">
    <app-search-top-bar></app-search-top-bar>
    <div class="container position-relative mb-3">
        <div class=" mt-4 p-0 row h-100 ">

            <app-side-menue class="col-2  "></app-side-menue>

            <app-doctors-list class=" col-10  "></app-doctors-list>
        </div>

    </div>
    <div style="background-color: white;">
        <div class="container">
            <app-qlist class="px-3"></app-qlist>

        </div>
    </div>
</div>