<div class="box my-5">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item border-0">
            <h2 class="accordion-header m-0">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    ازاي احجز موعد في نفس اليوم مع دكتور؟

                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p class="text">تستطيع أن تدخل على موقع أو تطبيق فيزيتا وتبحث عن دكاترة في منطقتك، اختار
                        'اليوم' من المواعيد المتاحة في محدد البحث اعلى
                        الصفحة واحجز في أقل من دقيقة.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0">
            <h2 class="accordion-header m-0">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#f2"
                    aria-expanded="false" aria-controls="f2">
                    ازاي اقدر احجز موعد من على الانترنت مع دكتور؟
                </button>
            </h2>
            <div id="f2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p class="text">فيزيتا هي خدمه مجانيه على الانترنت، تساعد المرضى في ايجاد دكاترة أو أي تخصص
                        آخر وحجز ميعاد فورا. ثم عند اختيار الموعد
                        المطلوب والمنطقة . وبناءا على المعلومات التي ادخلتها، ستظهر لك قائمه
                        بكل الدكاترة الذين يطابقون معايير البحث، بالاضافة لقائمة مواعيدهم المتاحة.. </p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0">
            <h2 class="accordion-header m-0">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#f3"
                    aria-expanded="false" aria-controls="f3">
                    هل اقدر اختار دكتور حسب الجنس ذكر أو انثى؟
                </button>
            </h2>
            <div id="f3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body text">عند البحث عن دكاترة على فيزيتا، تستطيع تحديد نتائج البحث الخاصة بك حسب
                    الجنس، بالاضافة لمعايير بحث اخرى. وبهذه الطريقة،
                    سيتم عرض الدكاترة الذين يطابقون تفضيلاتك فقط. </div>
            </div>
        </div>
        <div class="accordion-item border-0">
            <h2 class="accordion-header m-0">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#f4"
                    aria-expanded="false" aria-controls="f4">
                    هل اقدر ابحث عن مواعيد في نفس اليوم لدكتور؟ </button>
            </h2>
            <div id="f4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body text">تستطيع استخدام بحث فيزيتا للعثور على دكاترة حسب الاعلى تصنيفا من خلال
                    تقييمات المرضى السابقين الذين قاموا باتمام الزيارة
                    حيث ان في كل مرة يكمل فيها المريض موعد محجوز من على فيزيتا، تتم دعوته لمراجعه وتقييم تجربته وابداء
                    رأيه في الزيارة. </div>
            </div>
        </div>

    </div>
</div>
<!-- ssssssssssssssssssssssssssssssssssssssssssssssssss -->
<div class="box2 my-5 mb-0">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item border-0">
            <h2 class="accordion-header m-0">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#m1"
                    aria-expanded="false" aria-controls="m1">
                    ايه هو تخصص الطبيب العام؟
                </button>
            </h2>
            <div id="m1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body text">الطبيب العام بيشخص ويعالج المشاكل الصحية الجسدية والنفسية العامة،
                    وبيحول
                    المرضى لـلعلاج العاجل والمتخصص. </div>
            </div>
        </div>
        <div class="accordion-item border-0">
            <h2 class="accordion-header m-0">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#m2"
                    aria-expanded="false" aria-controls="m2">
                    ايه أعراض نقص فيتامين د؟
                </button>
            </h2>
            <div id="m2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body text">
                    <p>تشمل أعراض نقص فيتامين د:
                    </p>
                    <ol class=" list-group list-group-numbered text">
                        <li class=" list-group-item text">الإحساس بالتعب والضعف العام</li>
                        <li class=" list-group-item text">الشعور بالحزن والاكتئاب</li>
                        <li class="list-group-item text">الألم العضلي والعظمي</li>
                        <li class="list-group-item text">زيادة عدوى الجهاز التنفسي</li>
                        <li class="list-group-item text">تغيرات في الشعر والأظافر</li>
                        <li class="list-group-item text">تدهور في صحة العظام مما يزيد من خطر الإصابة بكسور</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0">
            <h2 class="accordion-header m-0">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#m3"
                    aria-expanded="false" aria-controls="m3">
                    ايه أعراض نقص فيتامين B ؟
                </button>
            </h2>
            <div id="m3" class="accordion-collapse collapse text" data-bs-parent="#accordionFlushExample">
                <p>من بين الأعراض الشائعة لنقص فيتامين B : </p>
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item text">فقدان الشهية وفقدان الوزن</li>
                    <li class="list-group-item text">الإمساك والإسهال</li>
                    <li class="list-group-item text">التعب والضعف العام</li>
                    <li class="list-group-item text">العصبية والتوتر والقلق</li>
                    <li class="list-group-item text">الصداع والدوار والصدر المتقلص</li>
                    <li class="list-group-item text">زيادة ضربات القلب وضيق التنفس</li>
                    <li class="list-group-item text">تشنجات العضلات وألم الأعصاب</li>
                </ol>
            </div>
        </div>
        <div class="accordion-item border-0">
            <h2 class="accordion-header m-0">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#m4"
                    aria-expanded="false" aria-controls="m4">
                    ايه أعراض نقص الكالسيوم ؟
                </button>
            </h2>
            <div id="m4" class="accordion-collapse collapse text" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>أعراض نقص الكالسيوم تشمل: </p>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item text">آلام العظام والعضلات والمفاصل</li>
                        <li class="list-group-item text">الكسور العظمية</li>
                        <li class="list-group-item text">خدران أو وخز في الأطراف</li>
                        <li class="list-group-item text">اضطرابات في النوم</li>
                        <li class="list-group-item text">القلق والاكتئاب</li>
                        <li class="list-group-item text">تساقط الشعر</li>
                        <li class="list-group-item text">ضعف الأسنان</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0">
            <h2 class="accordion-header m-0">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#m5"
                    aria-expanded="false" aria-controls="m5">
                    ايه أعراض النزله المعويه؟
                </button>
            </h2>
            <div id="m5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body text">
                    <p>أعراض النزلة المعوية تشمل:</p>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item text">الإسهال</li>
                        <li class="list-group-item text">الغثيان والقيء</li>
                        <li class="list-group-item text">الآلام في البطن</li>
                        <li class="list-group-item text">الحمى في بعض الأحيان</li>
                        <li class="list-group-item text">التعب والصداع وألم في العضلات</li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
</div>