#mainwrap{
  font-size: large;
}
.profile-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
margin-left: 10px;

}


.joinNow {
  border-radius: 11px 11px 0px 0px;
  padding: 8px 0px;
  font-size: 20px;
  background-color: rgb(0, 112, 205);
  color: rgb(255, 255, 255);
  text-align: center;
}
.review{
  color: rgb(116, 116, 112);
    border-bottom: 1px solid rgb(218, 218, 218);
    padding: 15px 30px;
}
.rating{
  
  background: rgb(0, 112, 205);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
  display: block;
  font-size: 16px;
  direction: ltr;
  font-size: larger;
  padding: 5px 10px;
  font-family: SourceSansPro;
  width: max-content;
  margin:5px auto;
}
.btn-primary{ 
  background-color: rgb(0, 112, 205);}
