<div class="bg-white">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel"
        style="position: relative !important;">
        <div class="carousel-inner" id="co">
            <div class="carousel-item active">
                <img src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/55283/_next/static/images/homecovernewen1-eg-en.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/55283/_next/static/images/homecovernewen4-eg-en.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/55283/_next/static/images/homecovernewen3-eg-en.jpg"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <div id="search" class="container  text-right"  >
          <div class="d-flex flex-column align-items-start">
            <h1>
                رعاية صحية لحياة أفضل ليك</h1>
            <h3> <i class="">احجز أونلاين أو كلم  </i> <i class="fa fa-phone-alt text-danger "></i>16676  </h3>
          </div>
            <app-search></app-search>*

        </div>
    </div>

</div>