<div class="">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel"
        style="position: relative !important;">
        <div class="carousel-inner" id="co">
            <div class="carousel-item active">
                <img src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/55283/_next/static/images/homecovernewen1-eg-en.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/55283/_next/static/images/homecovernewen4-eg-en.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/55283/_next/static/images/homecovernewen3-eg-en.jpg"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <div id="search" class="container text-center">
            <h1>Better Healthcare for a Better Life</h1>
            <h3><i class="fa-regular fa-calendar-check m-2"></i>book doctor or <i class="fa-solid fa-phone m-2"></i>call
                online
            </h3>
            <app-search></app-search>*

        </div>
    </div>

</div>