<div class=" card " style="position: sticky;top: 30px;">
    <form [formGroup]=" Form">
        <div class="card-header h6 p-3"><i class="fa-solid fa-filter ms-1 me-3"></i>Filters</div>
        <div class="accordion m-0" id="accordionPanelsStayOpenExample">

            <div class="accordion-item">
                <h2 class="accordion-header m-0">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#btn1" aria-expanded="false" aria-controls="btn1">
                        <i class="fa-solid fa-venus-mars mx-3 me-1"></i> النوع </button>
                </h2>
                <div id="btn1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" (change)="ale()" formControlName="male"
                                value="male">
                            <label class="form-check-label" for="flexCheckDefault">
                                Male </label>
                        </div>
                        <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" (change)="ale()" formControlName="female"
                                value="female">
                            <label class="form-check-label" for="flexCheckDefault">
                                Female
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header m-0">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#btn2" aria-expanded="false" aria-controls="btn2">
                        <i class="fa-regular fa-calendar mx-3 me-1"></i> المواعيد المتاحة </button>
                </h2>
                <div id="btn2" class="accordion-collapse collapse">
                    <div class="accordion-body">

                        <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="0" (change)="ale()"
                                id="flexCheckDefault" formControlName="anydate">
                            <label class="form-check-label" for="flexCheckDefault">
                                Any Day
                            </label>
                        </div>
                        <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="1" (change)="ale()"
                                formControlName="today">
                            <label class="form-check-label" for="flexCheckDefault">
                                Today
                            </label>
                        </div>
                        <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="2" (change)="ale()"
                                id="flexCheckDefault" formControlName="towm">
                            <label class="form-check-label" for="flexCheckDefault">
                                Tomorrow
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion-item ">
                <h2 class="accordion-header m-0 ">
                    <button class="accordion-button collapsed w-100" type=" button" data-bs-toggle="collapse"
                        data-bs-target="#btn3" aria-expanded="false" aria-controls="btn3">
                        <i class="fa-solid fa-money-bill-wave mx-3 me-1 "></i>سعر الكشف</button>
                </h2>
                <div id="btn3" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="form-check my-3">
                            <input class="form-check-input" type="radio" value="0" (change)="ale()"
                                formControlName="price">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Any
                            </label>
                        </div>
                        <div class="form-check my-3">
                            <input class="form-check-input" type="radio" value="50" (change)="ale()"
                                formControlName="price">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Less than 50
                            </label>
                        </div>
                        <div class="form-check my-3">
                            <input class="form-check-input" type="radio" value="100" (change)="ale()"
                                formControlName="price">
                            <label class="form-check-label" for="flexRadioDefault1">
                                From 50 to 100
                            </label>
                        </div>
                        <div class="form-check my-3">
                            <input class="form-check-input" type="radio" value="200" (change)="ale()"
                                formControlName="price">
                            <label class="form-check-label" for="flexRadioDefault1">
                                From 100 to 200

                            </label>
                        </div>
                        <div class="form-check my-3">
                            <input class="form-check-input" type="radio" (change)="ale()" value="300"
                                formControlName="price">
                            <label class="form-check-label" for="flexRadioDefault1">
                                From 200 to 300

                            </label>
                        </div>
                        <div class="form-check my-3">
                            <input class="form-check-input" (change)="ale()" type="radio" value="400"
                                formControlName="price">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Greater than 300
                            </label>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </form>

</div>