i {
    padding-bottom: 5px;
    position: relative;
}

i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 3px;
    background-color: #EF0F0F;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
}

button {
    color: #0070CD !important;
}

.card-header {
    background: #0070CD !important;
    color: white !important;
}

.accordion-button:not(.collapsed):after {
    position: absolute !important;
    left: 15px !important;
    top: 50% !important;
    /* transform: translateY(-50%) !important; */
    transform: rotatex(180deg) !important;
    /* background-image: none; */

    transition: .5s ease;
}

.accordion-button.collapsed:after {
    content: "";
    position: absolute !important;
    left: 15px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    /* transform: rotate(360deg); */
    transition: .5s ease;
}