<div class="container-fluid emp-profile profile-work" *ngIf="loaderDr==true">

  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <img src={{doctor?.image}} alt="" />
        <div class="file btn btn-lg btn-primary">
          Change Photo
          <input required type="file" accept=".png,.jpeg,.jpg" id="image" name="image" class="form-control col-8"
            (change)="imagechange($event)" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-head">
        <h3>
          {{doctor?.name}} دكتور
        </h3>
        <h4>
          تخصص : {{doctor?.id_specializeNavigation.name}}
        </h4>
      </div>
    </div>
    <!-- <div class="col-md-2">
        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
      </div> -->
  </div>
  <div class="container-fluid ">
    <div class="row justify-content-between my-5">
      <ng-container *ngIf="updateClinicFlag==false">
        <div class="col-12 col-md-3">
          <form class="row g-3 " [formGroup]="clinicForm" (submit)="clinincAdd()">
            <h1>اضافة عيادة</h1>
            <div class="col-6">

              <div *ngIf="clinicNameController.hasError('required')" class="text-danger">*</div>
              <input type="text" class="form-control" formControlName="clinicName" id="name" value="" required
                placeholder="اسم العيادة">
            </div>
            <div class="col-6">

              <div *ngIf="clinicPhoneController.hasError('required')" class="text-danger">*</div>
              <input type="tel" class="form-control" id="tel" value="" formControlName="ClinicPhone" required
                placeholder="رقم التليفون">
            </div>

            <div class="col-md-5">
              <div *ngIf="cityController.hasError('required')" class="text-danger">*</div>
              <select name="" id="city" class="form-select" (change)="cityChange($event,cityInpt) " #cityInpt
                formControlName="city">
                <option value="" disabled selected>اختار المحافظة</option>
                <option *ngFor="let city of cities" value="{{city?.id}}" #cityInpt>{{city?.name}}</option>

              </select>
            </div>
            <div class="col-md-5">
              <div *ngIf="regionController.hasError('required')" class="text-danger">*</div>
              <select name="" id="region" class="form-select" formControlName="region">
                <option value="" disabled selected>اختار المنطقة</option>
                <option *ngFor="let region of selectRegion" value="{{region?.id}}">{{region?.name}}</option>

              </select>
            </div>

            <div class="col-3">

              <!-- <div *ngIf="clinicNameController.hasError('required')" class="text-danger">*</div> -->
              <input type="text" class="form-control" id="sq" value="" formControlName="sq" required
                placeholder="المربع">
            </div>
            <div class="col-9">

              <div *ngIf="stController.hasError('required')" class="text-danger">*</div>
              <input type="text" class="form-control" id="st" value="" formControlName="st" required
                placeholder="الشارع">
            </div>
            <div class="col-4">

              <div *ngIf="appartController.hasError('required')" class="text-danger">*</div>
              <input type="text" class="form-control" id="appart" value="" formControlName="appart" required
                placeholder="شقة">
            </div>

            <div class="col-4">

              <div *ngIf="floorController.hasError('required')" class="text-danger">*</div>
              <input type="text" class="form-control" id="floor" value="" formControlName="floor" required
                placeholder="الدور">
            </div>
            <div class="col-4">

              <!-- <div *ngIf="buildingController.hasError('required')" class="text-danger">*</div> -->
              <input type="text" class="form-control" id="build" value="" formControlName="building" required
                placeholder="عمارة">
            </div>
            <div class="col-8">

              <!-- <div *ngIf="descController.hasError('required')" class="text-danger">*</div> -->
              <input type="text" class="form-control" id="note" value="" formControlName="descr" required
                placeholder="معلومات اضافية ">
            </div>

            <div class="col-12">
              <button class="btn btn-primary" type="submit">اضافة </button>
            </div>
          </form>

        </div>
      </ng-container>

      <ng-container *ngIf="updateClinicFlag==true">
        <div class="col-12 col-md-3">
          <form class="row g-3 " [formGroup]="UpdateclinicForm" (submit)="clinincAdd()">
            <h1>اضافة عيادة</h1>
            <div class="col-6">

              <div *ngIf="clinicNameController.hasError('required')" class="text-danger">*</div>
              <input type="text" class="form-control" formControlName="uclinicName" id="name" value="" required
                placeholder="اسم العيادة">
            </div>
            <div class="col-6">

              <div *ngIf="clinicPhoneController.hasError('required')" class="text-danger">*</div>
              <input type="tel" class="form-control" id="tel" value="" formControlName="uClinicPhone" required
                placeholder="رقم التليفون">
            </div>

            <div class="col-md-5">
              <div *ngIf="cityController.hasError('required')" class="text-danger">*</div>
              <select name="" id="city" class="form-select" (change)="cityChange($event,inp)" formControlName="ucity"
                #inp>
                <option value="" disabled selected>اختار المحافظة</option>
                <option *ngFor="let city of cities" value="{{city?.id}}">{{city?.name}}</option>

              </select>
            </div>
            <div class="col-md-5">
              <div *ngIf="regionController.hasError('required')" class="text-danger">*</div>
              <select name="" id="region" class="form-select" formControlName="uregion">
                <option value="" disabled selected>اختار المنطقة</option>
                <option *ngFor="let region of selectRegion" value="{{region?.id}}">{{region?.name}}</option>

              </select>
            </div>

            <div class="col-3">

              <!-- <div *ngIf="clinicNameController.hasError('required')" class="text-danger">*</div> -->
              <input type="text" class="form-control" id="sq" value="" formControlName="u_sq" required
                placeholder="المربع">
            </div>
            <div class="col-9">

              <div *ngIf="stController.hasError('required')" class="text-danger">*</div>
              <input type="text" class="form-control" id="st" value="{{this.Dr_clinic?.clinic?.address?.street}}"
                formControlName="ust" required placeholder="الشارع">
            </div>
            <div class="col-4">

              <div *ngIf="appartController.hasError('required')" class="text-danger">*</div>
              <input type="text" class="form-control" id="appart" value="" formControlName="u_appart" required
                placeholder="شقة">
            </div>

            <div class="col-4">

              <div *ngIf="floorController.hasError('required')" class="text-danger">*</div>
              <input type="text" class="form-control" id="floor" value="" formControlName="ufloor" required
                placeholder="الدور">
            </div>
            <div class="col-4">

              <!-- <div *ngIf="buildingController.hasError('required')" class="text-danger">*</div> -->
              <input type="text" class="form-control" id="build" value="" formControlName="ubuilding" required
                placeholder="عمارة">
            </div>
            <div class="col-8">

              <!-- <div *ngIf="descController.hasError('required')" class="text-danger">*</div> -->
              <input type="text" class="form-control" id="note" value="" formControlName="u_descr" required
                placeholder="معلومات اضافية ">
            </div>

            <div class="col-12">
              <button class="btn btn-primary" type="submit">تعديل </button>
            </div>
          </form>

        </div>
      </ng-container>

      <!-- form 2  -->
      <div class="col-12 col-md-3">
        <form method="post" (submit)="onPhoneSubmit($event)" class="border-1 border-light bg-white mb-5 bg-light">
          <h2>

            <i class="fa-solid fa-phone text-success">اضافة هاتف اخر</i>
          </h2>
          <div *ngFor="let phone of doctor_phones" class="input-group">
            <button (click)="removePhone(remoVal,$event)"
              class="btn btn-close text-danger input-group-text me-4  "></button>
            <input type="text" readonly value="{{phone.phone}}" class="" #remoVal>
          </div>
          <!-- ----------------------------------------  -->
          <div class="form-outline my-2 d-flex justify-content-around">

            <div class="col-1">
              <button class="btn btn-danger" (click)="addAnotherPhone(inptval)">اضافة</button>
            </div>

            <div class="col-7">
              <input required name="Doctors_Phones" type="tel" id="DPhone" class="form-control col-8"
                placeholder="رقم الموبايل " #inptval />
            </div>

            <div class="col-2">
              <label class="form-label " for="DPhone">رقم الموبايل </label>
            </div>
          </div>


          <div *ngIf="phoneValid==false" class="text-danger input-group-text border-white bg-white">
            رقم الموبايل غير صحيح
          </div>

          <div *ngIf="phone1Exist==true" class="text-danger input-group-text border-white bg-white">
            هذا الرقم بالفعل مسجل
          </div>

        </form>

        <form action="" method="post" class="bg-light" style="margin-top: 100px;" (submit)="onPassChange($event)"
          [formGroup]="passwordForm">
          <!-- Password input -->
          <h1>
            <i class="fa-sharp fa-solid fa-lock text-dark">
              تغير كلمة المرور
            </i>
          </h1>
          <div class="form-outline my-2  ">

            <div class="d-flex justify-content-between my-2">
              <div class="col-7">
                <input required formControlName="oldPassword" name="password" type="password" id="pass"
                  class="form-control col-8" placeholder=" كلمة المرور القديمة" />
              </div>
              <div class="col-4">
                <label class="form-label " for="pass"> كلمة المرور </label>
              </div>
            </div>

            <div class="d-flex justify-content-between my-2">

              <div class="col-7">
                <input required formControlName="newPassword" name="password" type="password" id="pass1"
                  class="form-control col-8" placeholder="كلمة المرور الجديدة" />
              </div>
              <div class="col-4">
                <label class="form-label " for="pass1"> كلمة المرور الجديد </label>
              </div>

            </div>
            <ng-container *ngIf="newpasswordController.touched&&succFlag==false ">
              <div *ngIf="newpasswordController.hasError('required')"
                class="text-danger input-group-text border-white bg-white">
                يرجى ادخال كلمة المرور
              </div>

              <div *ngIf="newpasswordController.hasError('minlength')"
                class="text-danger input-group-text border-white bg-white">
                كلمة المرور قصيرة جداً! يجب ان تكون اكثر من ٦ احرف
              </div>


            </ng-container>


            <div class="d-flex justify-content-between my-2">
              <div class="col-7">
                <input required formControlName="CnewPassword" name="password" type="password" id="pass2"
                  class="form-control col-8" placeholder="تأكيد كلمة المرور الجديد" />
              </div>
              <div class="col-4">
                <label class="form-label " for="pass2"> تأكيد كلمة المرور الجديد </label>
              </div>
              <div>
              </div>
            </div>
            <ng-container *ngIf="CnewpasswordController.touched&&succFlag==false ">
              <div *ngIf="CnewpasswordController.hasError('required')"
                class="text-danger input-group-text border-white bg-white">
                يرجى ادخال كلمة المرور
              </div>

              <!-- <div *ngIf="CnewpasswordController.hasError('minlength')"
          class="text-danger input-group-text border-white bg-white">
          كلمة المرور قصيرة جداً! يجب ان تكون اكثر من ٦ احرف
        </div> -->


            </ng-container>
            <div *ngIf="passwordFlag==false" class="text-danger input-group-text border-white bg-white">
              يوجد خطأ في كلمة المرور القديمة
            </div>
            <button type="submit" class="btn btn-dark">تغير كلمة المرور</button>
          </div>
        </form>
      </div>

      <!-- form 3  -->
      <div class="col-12 col-md-4">

        <form [formGroup]="DoctorUpdateForm" enctype="multipart/form-data" method="post" (submit)="onSubmit($event)"
          class="border-1 border-light bg-light" *ngIf="formGroupFlag==true">


          <h2>تعديل البيانات </h2>


          <!--  name input -->
          <div class="form-outline my-2 d-flex justify-content-around ">

            <div class="col-7 ">
              <input required formControlName="name" type="text" id="DName" class="form-control col-8 " name="name"
                value="{{nameController.value}}" />
            </div>
            <div class="col-2">
              <label class="form-label " for="DName">الاسم </label>
            </div>
          </div>
          <ng-container *ngIf="nameController.touched ">
            <div *ngIf="nameController.hasError('required')" class="text-danger input-group-text border-white bg-white">
              يرجى ادخال الاسم
            </div>

            <div *ngIf="nameController.hasError('minlength')"
              class="text-danger input-group-text border-white bg-white">
              يرجي ادخال الاسم بالكامل
            </div>
          </ng-container>

          <!-- ------------------------------------------------------------------------------------------- -->
          <!-- email input -->
          <div class="form-outline my-2 d-flex justify-content-around ">

            <div class="col-7">
              <input required formControlName="email" type="email" id="Demail" class="form-control col-8"
                placeholder="ُExample@domain.com" name="email" />
            </div>
            <div class="col-2">
              <label class="form-label " for="Demail">البريد الالكتروني </label>
            </div>

          </div>
          <ng-container *ngIf="emailController.touched ">
            <div *ngIf="emailController.hasError('required')"
              class="text-danger input-group-text border-white bg-white">
              يرجى ادخال البريد الالكتروني
            </div>

            <div *ngIf="emailController.hasError('email')" class="text-danger input-group-text m-auto bg-white">
              البريد الالكتروني غير صحيح
            </div>

            <div *ngIf="emailExist==true" class="text-danger input-group-text m-auto bg-white">
              هذا البريد بالفعل مسجل
            </div>
          </ng-container>



          <!-- gender -->
          <div class="form-outline my-2 d-flex justify-content-around ">

            <div class="col-3">
              <label for="male">ذكر</label>
              <input required formControlName="gender" type="radio" id="male" name="gender" value="m" class="col-4" />
            </div>
            <div class="col-3">
              <label for="female">انثي</label>
              <input required formControlName="gender" type="radio" id="female" name="gender" class=" col-4" value="f"
                checked />
            </div>
            <div class="col-2">
              <label class="form-label "> النوع </label>
            </div>

            <!-- <div *ngIf="genderController.hasError('required')" class="text-danger input-group-text border-white bg-white">
                    رقم الموبايل غير صحيح
                  </div> -->
          </div>

          <!-- specilize drop down list  -->
          <div class="form-outline my-2 d-flex justify-content-around  ">

            <div class="col-7">
              <select name="id_specialize" id="spec" class="form-select" formControlName="id_specialize">
                <option *ngFor="let spec of specs" value="{{spec.id}}">{{spec.name}}</option>
              </select>
            </div>
            <div class="col-2">
              <label class="form-label  " for="spec">التخصص </label>
            </div>
          </div>
          <ng-container *ngIf="id_specializeController.touched ">
            <div *ngIf="id_specializeController.hasError('required')" class="text-danger">
              يرجي اختيار التخصص
            </div>

          </ng-container>




          <!-- confirm password -->
          <!-- <div class="form-outline my-2 d-flex justify-content-around ">

                <div class="col-7">
                  <input required formControlName="confirmPassword" type="password" id="Cpassword"
                    class="form-control col-8" placeholder=" تأكيد كلمة المرور " />
                </div>
                <div class="col-2">
                  <label class="form-label " for="Cpassword">تأكيد كلمة المرور </label>
                </div>
              </div>
              <ng-container *ngIf="CpasswordController.touched || clickpress==true">
                <div *ngIf="CpasswordController.hasError('required')"
                  class="text-danger input-group-text border-white bg-white">
                  يرجى ادخال كلمة المرور
                </div>

                <div *ngIf="CpasswordController.hasError('minlength')"
                  class="text-danger input-group-text border-white bg-white">
                  كلمة المرور قصيرة جداً! يجب ان تكون اكثر من ٦ احرف
                </div>

                <div *ngIf="confirmPassFlag===true && !CpasswordController.hasError('required')"
                  class="text-danger input-group-text border-white bg-white">
                  كلمة المرور غير مطابقة
                </div>
              </ng-container> -->







          <!-- experience and waiting time -->
          <div class="d-flex justify-content-around">

            <!-- waiting time -->
            <div class="form-outline my-2 d-flex justify-content-around ">

              <div class="col-7">
                <select name="waiting_time" id="waiting_time" formControlName="waiting_time" class="form-select">
                  <option value="5">5 دقايق</option>
                  <option value="10">10 دقايق</option>
                  <option value="15">15 دقيقة</option>
                  <option value="20">20 دقيقة</option>
                </select>
              </div>
              <div class="col-4">
                <label class="form-label " for="waiting"> waiting time </label>
              </div>


            </div>
            <ng-container *ngIf="waitTimeController.touched">
              <div *ngIf="waitTimeController.hasError('required')" class="text-danger">
                يرجى ادخال كلمة المرور
              </div>

              <div *ngIf="waitTimeController.hasError('minlength')" class="text-danger">
                كلمة المرور قصيرة جداً! يجب ان تكون اكثر من ٦ احرف
              </div>
            </ng-container>

            <!-- experience -->
            <div class="form-outline my-2 d-flex justify-content-around ">

              <div class="col-7">
                <input required formControlName="experience" type="number" id="experience" class="form-control col-8"
                  placeholder="الخبرة  " name="experience" />
              </div>
              <div class="col-4">
                <label class="form-label " for="experience"> الخبرة </label>
              </div>

            </div>
            <ng-container *ngIf="experienceController.touched">
              <div *ngIf="experienceController.hasError('required')" class="text-danger">
                يرجي ادخال الخبرة
              </div>
            </ng-container>
          </div>

          <!-- birth date -->
          <div class="form-outline my-2 d-flex justify-content-around ">

            <div class="col-7">
              <input required formControlName="birth_date" name="birth_date" type="date" id="date"
                class="col-8 form-control" placeholder="  " />
            </div>
            <div class="col-2">
              <label class="form-label " for="date"> تاريخ الميلاد </label>
            </div>
          </div>
          <ng-container *ngIf="birth_dateController.touched">
            <div *ngIf="birth_dateController.hasError('required')" class="text-danger">
              يرجي اختيار تاريخ الميلاد
            </div>
          </ng-container>




          <!-- image input -->
          <!-- <div class="form-outline my-4 d-flex justify-content-around ">

                <div class="col-7">
                  <input required formControlName="image" type="file" accept=".png,.jpeg,.jpg" id="image" name="image"
                    class="form-control col-8" (change)="imagechange($event)" />
                </div>
                <div class="col-2">
                  <label class="form-label " for="image">ارفع صورة شخصية </label>
                </div>
              </div>
              <ng-container *ngIf="imageController.touched">
                <div *ngIf="imageController.hasError('required')" class="text-danger">
                  يرجي رفع الصورة الشخصية
                </div>
              </ng-container> -->
          <!--  verification input -->
          <!-- <div class="form-outline my-4 d-flex justify-content-around ">

                <div class="col-7">
                  <input required formControlName="verification" type="file" accept=".png, .jpeg,.jpg" id="verification"
                    name="verification" class="form-control col-8" (change)="verfchange($event)" />
                </div>
                <div class="col-2">
                  <label class="form-label " for="verification">ارفع صورة كارنية النقابة </label>
                </div>
              </div>
              <ng-container *ngIf="verificationController.touched">
                <div *ngIf="verificationController.hasError('required')" class="text-danger">
                  يرجي رفع الصورة الشخصية
                </div>
              </ng-container> -->

          <!-- online fees -->
          <div class="form-outline my-2 d-flex justify-content-around ">

            <div class="col-7">
              <input required formControlName="online_fees" type="number" id="form3Example3" class="form-control col-8"
                name="online_fees" placeholder="  سعر الكشف الاونلاين" />
            </div>
            <div class="col-2">
              <label class="form-label " for="form3Example3"> سعر الكشف الاونلاين </label>
            </div>

          </div>

          <!-- description -->
          <div class="form-outline my-2 d-flex justify-content-around ">

            <div class="col-7">
              <input required formControlName="description" type="text" id="description" class="form-control col-8"
                placeholder=" description " name="description" />
            </div>
            <div class="col-2">
              <label class="form-label " for="description">description </label>
            </div>

            <ng-container *ngIf="decriptionController.touched">
              <div *ngIf="decriptionController.hasError('required')" class="text-danger">
                يرجي ادخال الوصف
              </div>
            </ng-container>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-success btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">تأكيد</button>

          </div>

        </form>


      </div>


    </div>

  </div>

</div>